
body {
    background-color: blanchedalmond;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color:rgb(65, 52, 42);
    margin-left: 90px;
    margin-right: 90px;
}

h2 {
    font-style: italic;
}

h3 {
    text-decoration: underline;
    font-size: 20px;
    font-weight: 800;
}

img {
    width: 250px;
    height: 400px;
}