
p{ font-family:Georgia, 'Times New Roman', Times, serif}
h1{
    font-size: 55px;
}
h2{
    font-size: 35px; 
}

p,h1,h2{ color:rgb(255, 245, 159);
font-family: Georgia, 'Times New Roman', Times, serif;
margin: auto;
display: block;
}
.aligncenter {
    text-align: center;
}
  body {
    background-color: rgb(171, 148, 64);
  }